p {
  font-size: 1.25rem !important;
}

.clickable {
  border: 2px solid #777;
}

.clickable:hover
{
  border: 2px solid #F8CA4D;
}

.deepred {
  background-color: #EA6045 !important;
}

.darkyellow {
  background-color: #F8CA4D !important;
}

.beige {
  background-color: #F5E5C0 !important;
}

.beige-text {
  color: #F5E5C0 !important;
}

.navy {
  background-color: #3F5666 !important;
}

.royal {
  background-color: #2F3440 !important;
}


::-webkit-input-placeholder {
  font-size: 16px;
  color: #000000; 
}

input[type=text] {
  font-size: 16px;
  color: #000000;
  background-color: #FFFFFF;
  border: 2px solid #777;
  padding-left: 4px; 
}

input[type=text][disabled] {
  font-size: 16px;
  color: #444444;
  border: 2px solid #777;
  background-color: #CCCCCC;
}

.input-field input[type=text]:enabled{
 border-bottom: 1px solid #777;
 box-shadow: 0 1px 0 0 #777;
}

.input-field input[type=text]:focus {
 border-bottom: 1px solid #F8CA4D !important;
 box-shadow: 0 1px 0 0 #F8CA4D !important;
}

a { color: inherit; }

h6, label {
  color: #000000 !important;
  font-size:1.38rem !important;
  font-family:'Roboto' sans-serif; 
  font-weight:300;
}

.arrow{
  color: #3F5666;
}

.arrowback{
  color: green;
}

input[type=range]::-webkit-slider-thumb {
  background-color: #3F5666;
}
input[type=range]::-moz-range-thumb {
  background-color: #3F5666;
}
input[type=range]::-ms-thumb {
  background-color: #3F5666;
}

input[type=range] + .thumb {
  background-color: #3F5666;
}
input[type=range] + .thumb.active .value {
  color: white;
}

li {
  font-size: 1.25rem !important;
}