<!-- Jordan Stapinski
   Enigma Unit - Enigma HTML
-->

<!doctype html>
<link type="text/css" rel="stylesheet" href="../css/railscasts.css"  media="screen,projection"/>
<link type="text/css" rel="stylesheet" href="../css/materialize.css"  media="screen,projection"/>
<link type="text/css" rel="stylesheet" href="enigma.css" media="screen,projection"/>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<link rel="shortcut icon" href="../images/favicon.ico">

<style>
body {
  background-image: url({{image_path}});
  height: 100%;
  background-size: cover;
}

.nav-wrapper {
  background-color: #3F5666 !important;
}
</style>

<html>
  <head>
    <title>{{title}}</title>
  </head>
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo right" style="padding-right:50px">Enigma: An Introduction to Cryptography</a>
      <div class="col s12 pull-s1">
        <a href="#!" class="breadcrumb" style="padding-left:50px">Caesar Shift</a>
        <a href="#!" class="breadcrumb">Vigenere Cipher</a>
        <a href="#!" class="breadcrumb">Enigma Machine</a>
      </div>
    </div>
  </nav>
  <body>

    <div class="row">
      <div class="col s10 offset-s1">
        <h3>{{title}}</h3>
      </div>
    </div>

  </body>

  <script src="../js/highlight.pack.js"></script>
  <!-- Initialize code syntax highlighting -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="../js/materialize.js"></script>
  <script type="text/javascript" src="enigma.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>

</html>