<!-- Jordan Stapinski
   Enigma Unit - Enigma HTML
-->

<!doctype html>
<link type="text/css" rel="stylesheet" href="../css/railscasts.css"  media="screen,projection"/>
<link type="text/css" rel="stylesheet" href="../css/materialize.css"  media="screen,projection"/>
<link type="text/css" rel="stylesheet" href="enigma.css" media="screen,projection"/>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<link rel="shortcut icon" href="../images/favicon.ico">

<style>
body {
  background-color: rgba(40, 70, 40, 0.2);
  height: 100%;
  background-size: cover;
}

.nav-wrapper {
  background-color: #3F5666 !important;
}
</style>

<html>
  <head>
    <title>{{title}}</title>
  </head>
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo right" style="padding-right:50px">Enigma: An Introduction to Cryptography</a>
      <div class="col s12 pull-s1">
        <a href="#!" class="breadcrumb" style="padding-left:50px">Caesar Shift</a>
        <a href="#!" class="breadcrumb">Vigenere Cipher</a>
        <a href="#!" class="breadcrumb">Enigma Machine</a>
      </div>
    </div>
  </nav>
  <body>

    <div class="row">
      <div class="col s10 offset-s1">
        <h3>{{title}}</h3>
      </div>
    </div>

    <div id="instruction_set">
      <div class="row">
          <h4 class="col offset-s1">Instructions:</h4>
          <p class="flow-text col s10 offset-s1" id="instructions_text">
          Run the Enigma Machine
          </p>        
      </div>
    </div>

    <div class="row">
      <div class="col s2 offset-s1">
        <a id="instruction_button" class="waves-effect waves-green btn navy" 
          onclick="modify_instructions()">
          Hide Instructions
        </a>
      </div>
    </div>

    <br/>

    <div class="row">
      <div class="col s2 offset-s1"
           style="margin-top: 20px">
        <div class="input-field">
          <input 
            placeholder="a" 
            value="a" 
            id="plaintext_value" 
            type="text">
          <label for="plaintext_value"
                 class="tooltipped"
                 data-tooltip="This is our starting text which we will modify 
                  with the Enigma Machine">
            <strong>1.</strong> Starting Text
            <i class="tiny material-icons">
              info_outline
            </i>
          </label>

          <div style="margin-top: 50px;">

            <a 
              class="waves-effect waves-green btn darkyellow black-text tooltipped s6" 
              id="show_code" 
              data-tooltip="Show Code!"
              style="width: 49%;">
              Code View
            </a>

            <a 
              class="waves-effect waves-green btn beige black-text tooltipped s6" 
              id="encrypt" 
              data-tooltip="Encrypt the Starting Text!"
              style="width: 49%;">
              <strong>2. </strong>Run Encryption
            </a>

            {% if exercise_type != 'Sandbox' %}
              <a 
                class="waves-effect waves-green btn beige black-text tooltipped s6" 
                id="sandbox" 
                data-tooltip="Play with the Enigma Machine in Sandbox Mode!"
                style="width: 100%; margin-top: 15px"
                href="/enigma/sandbox"
                target="_blank">
                Sandbox Mode
              </a>
          {% else %}
              <a 
                class="waves-effect waves-green btn deepred black-text tooltipped s6" 
                id="sandbox" 
                data-tooltip="Close this tab!" 
                href="javascript:window.close();"                 
                style="width: 100%; margin-top: 15px"
                target="_blank">
                Close the Sandbox
              </a>
          {% endif %}

          </div>

        </div>
        <div class="input-field"
           style="margin-top: 100px">
        <input 
          placeholder="" 
          value="" 
          id="ciphertext_value" 
          type="text">
        <label for="ciphertext_value"
               class="tooltipped"
               data-tooltip="This is our starting text which we will modify 
                with the Enigma Machine">
          Ending Text
          <i class="tiny material-icons">
            info_outline
          </i>
        </label>
      </div> 
      </div>

      <canvas
        width='1000px' height='500px'
        id="rotor_canvas">
      </canvas>     

    </div>

  </body>

  <script src="../js/highlight.pack.js"></script>
  <!-- Initialize code syntax highlighting -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="../js/materialize.js"></script>
  <script type="text/javascript" src="rotor.js"></script>
  <script type="text/javascript" src="enigma.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>

</html>