<!-- 
  Jordan Stapinski
  Enigma Unit - Vigenere Cipher HTML
  Serves the password#encrypt, password#decrypt, and password#sandbox pages
-->

<!doctype html>
<link type="text/css" rel="stylesheet" href="../css/railscasts.css"  
                                                    media="screen,projection"/>
<link type="text/css" rel="stylesheet" href="../css/materialize.css"  
                                                    media="screen,projection"/>
<link type="text/css" rel="stylesheet" href="password-encrypt.css" 
                                                    media="screen,projection"/>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
                                                              rel="stylesheet">
<link rel="shortcut icon" href="../images/favicon.ico">

<style>
/*Parameterized background*/
body {
  background-color: rgba({{red}}, {{green}}, {{blue}}, {{opacity}});
  height: 100%;
  background-size: cover;
}

.nav-wrapper {
  background-color: #3F5666 !important;
}
</style>

<html>

  <head>
    <title>
      {{title}}
    </title>
  </head>

  <nav>
    <div class="nav-wrapper">

      <a 
        href="#" 
        class="brand-logo right" 
        style="padding-right:50px">
        Enigma: An Introduction to Cryptography
      </a>

      <div class="col s12 pull-s1">
        <a 
          href="#!" 
          class="breadcrumb" 
          style="padding-left:50px">
          Caesar Shift
        </a>

        <a href="#!" class="breadcrumb">
          Vigenere Cipher
        </a>
      </div>

    </div>
  </nav>

  <body>

    <div class="row">
      <div class="col s10 offset-s1">
        <h3>{{title}}</h3>
      </div>
    </div>

    <div id="instruction_set">
      <div class="row">
          <h4 class="col offset-s1">Instructions:</h4>
          <p class="flow-text col s10 offset-s1" id="instructions_text">
          </p>        
      </div>
    </div>

    <div class="row">
      <div class="col s2 offset-s1">
        <a id="instruction_button" class="waves-effect waves-green btn navy" 
          onclick="modify_instructions()">
          Hide Instructions
        </a>
      </div>
    </div>

  <br/>

  <div class='square-box' id='square-box'>
      <div class='square-content'><div>
        <span id="black-box-parent">
          {% if exercise_type != 'Sandbox' %}
            <h4 id="black_box_text" style="margin-top: 0px !important;">
              {{exercise_type}}ion Mechanism
            </h4>
          {% else %}
            <h4 id="black_box_text">Vigenere Cipher Mechanism</h4>
          {% endif %}
        </span></div>
      </div>

      <div class="center-btn" id="button-container">
        <a 
          class="waves-effect waves-green btn beige black-text tooltipped" 
          id="encrypt" 
          data-tooltip="{{exercise_type}} the Plaintext!">
          {% if exercise_type != 'Sandbox' %}
            {% if exercise_type == 'Encrypt' %}
            <strong>3.</strong> {{exercise_type}}
            {% else %}
            <strong>2.</strong> {{exercise_type}}
            {% endif %}
          {% else %}
            <strong>3.</strong> Encrypt
          {% endif %}
        </a>

        <a 
          class="waves-effect waves-red btn darkyellow black-text tooltipped" 
          id="show_code" 
          href="#modal_code"
          data-tooltip="Show some real computer code that encrypts the plaintext">
          Show Code
        </a>

        {% if exercise_type != 'Sandbox' %}
          <a 
            class="waves-effect waves-red btn darkyellow black-text tooltipped" 
            id="open_sandbox" 
            href="/password/sandbox" 
            target="_blank"
            data-tooltip="Explore using the Password Shift on words you choose!">
            Play with Password Shift
          </a>

        {% else %}
          <a 
            class="waves-effect waves-red btn deepred black-text tooltipped"
            id="open_sandbox" 
            data-tooltip="Close this tab!" 
            href="javascript:window.close();" 
            target="_blank">
            Back to Exercise
          </a>

        {% endif %}

        {% if exercise_type == 'Sandbox' %}
          <div class="switch">
        {% else %}
          <div class="switch" style="visibility: hidden">
        {% endif %}
            <label>
              <span class="switch_labels">
                Decryption
              </span>
              <input 
                id="shift_switch" 
                type="checkbox" 
                checked="On" 
                onclick="swap_encryption_decryption()" 
                class="deepred">
                <span class="lever"></span>
                <span class="switch_labels">
                  Encryption
                </span>
            </label>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s3 pull-s2">
        {% if exercise_type != 'Decrypt' %}             
          <input 
            placeholder="I came, I saw, I conquered" 
            value="I came, I saw, I conquered" 
            id="plaintext_value" 
            type="text">
          <label for="plaintext_value"
                 class="tooltipped"
                 data-tooltip="This is our starting text which we will modify 
                  with the Vigenere Cipher encryption algorithm">
            <strong>1.</strong> {{input_label}} 
            <i class="tiny material-icons">
              info_outline
            </i>
          </label>
        {% else %}
          <input
            disabled 
            placeholder="ulsu hzekvto" 
            value="ulsu hzekvto" 
            id="plaintext_value" 
            type="text"
            class="">
          <label for="plaintext_value"
                 class="tooltipped"
                 data-tooltip="This is our pre-filled ciphertext which we will 
                  decrypt with the Vigenere Cipher encryption algorithm">
            {{input_label}}
            <i class="tiny material-icons">
              info_outline
            </i>
          </label>
        {% endif %}
        </div>

        <div class="input-field col s3 push-s2">             
          <label 
            id="word_shift_text" 
            class="flow-text tooltipped" 
            data-position="bottom" 
            data-delay="50" 
            data-tooltip="This is our password shift with alphabet positions">
            Word Shift <i class="tiny material-icons">info_outline</i>
          </label>
        </div>

      <br />
      <br/>
      <br/>
      <br/>
      <br/>

      <div class="col s3 pull-s2">             
        <div class="input-field">
          <input 
            placeholder="password" 
            value="password" 
            id="password_value" 
            type="text" 
            class="tooltipped"
            data-tooltip="Passwords must be one word only containing letters a-z" 
            onchange="input_change()">
          <label 
            for="password_value">
            {% if exercise_type != 'Decrypt' %}
            <strong>2.</strong> Password
            {% else %}
            <strong>1.</strong> Password
            {% endif %}
          </label>
        </div>
      </div>

      <div class="input-field col s2 push-s2 flow-text">
        <canvas 
          id="word_shift_canvas" 
          width="300" 
          height="100">
        </canvas>
      </div>

      <br />
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>


      <div class="col s3 pull-s2 flow-text">
        <label 
          class="flow-text tooltipped" 
          data-position="bottom" 
          data-delay="50" 
          data-tooltip="This is where in the password we want to start when
            we are running the encryption or decryption">
          Password Start Index <i class="tiny material-icons">info_outline</i>
        </label>
      </div>

      <br/>
      <br/>

      <div class="input-field col s3 pull-s2 flow-text">
        <canvas 
          id="word_index_wheel" 
          width="200" 
          height="200">
        </canvas>
      </div>

      <div class="col s1 pull-s3">

        <div class="input-field"
             style="margin-top: 80px;">
          <input 
            placeholder="0" 
            value="0" 
            id="index_input" 
            type="text" 
            class="tooltipped" 
            data-tooltip="This is the start index you want to jump to" 
            onchange="input_change()">
          <label for="index_input">
            Jump to Index
          </label>
          <a 
          class="waves-effect waves-green btn beige black-text tooltipped" 
          id="encrypt" 
          data-tooltip="Jump to this index in the password"> Jump to Index
          </a> 
        </div>

      </div>

      {% if exercise_type != 'Decrypt' %}
      <div class="input-field col s3 push-s1 flow-text">
      {% else %}
      <div class="input-field col s3 push-s1 flow-text">
      {% endif %}      
        <input 
          disabled 
          placeholder="J dbnf, J tbx, J dporvfsfe" 
          value="J dbnf, J tbx, J dporvfsfe" 
          id="output_text" 
          type="text" >
        <label for="output_text"
          class="tooltipped"
          data-tooltip="This is the encrypted plaintext using the provided
          password and start index">
          {{output_label}} <i class="tiny material-icons">info_outline</i>
        </label>
        <a 
          class="waves-effect waves-green btn beige black-text" 
          id="clipboard">
          Copy to Clipboard
        </a>
      </div>

    </div>

    <div class="row">
      <div class="col s5 offset-s1"
           style="padding-left: 0px;">
      <a 
        class="waves-effect waves-green btn deepred white-text" 
        id="spinDown"
        style="margin-left:50px !important;
               width: 50px !important;">
        -
      </a>
      <a 
        class="waves-effect waves-green btn navy white-text" 
        id="spinUp" 
        style="width:50px !important;">
        +
      </a>
      </div>
    </div>


    <div id="modal_encrypt" class="modal">
      <div class="modal-content">
        <h4>
          {{title}}
        </h4>
        <p id='opening_modal_text'></p>
      </div>
      <div class="modal-footer">
        <a 
          href="#!" 
          class="modal-action modal-close waves-effect waves-green btn navy">
          Go!
        </a>
      </div>
    </div>

    <div id="modal_code" class="modal">
      <div class="modal-content">
        {% if exercise_type != 'Sandbox' %}
          <h4>
            Password {{exercise_type}}ion Code
          </h4>

        {% else %}
          <h4>
            Password Shift Code
          </h4>

        {% endif %}

        <p 
          class="tooltipped" 
          data-tooltip="Python is a computer programming language (like Java 
            or C, which you may have heard of">
          Here is some Python computer code that performs the password shift 
          given some plaintext and a password:
        </p>

        <pre>
          <code id="encryption_code">
          </code>
        </pre>

      </div>
      <div class="modal-footer">
        <a 
          href="#!"
          class="modal-action modal-close btn deepred">
          Close
        </a>
      </div>
    </div>

    <!-- Modal for displaying positive feedback -->

    <div id="modalSuccess" class="modal bottom-sheet">
      <div class="modal-content">
        <h4>
          Correct!
        </h4>
        <p id='success_modal_text'>
          TBD
        </p>
      </div>

      <div class="modal-footer">
        <a 
          href={{next_route}} 
          class="modal-action modal-close waves-effect waves-green btn navy">
          Continue
        </a>
      </div>
    </div>

<!-- Modal for displaying positive feedback -->

    <div id="modalRetry" class="modal bottom-sheet">
      <div class="modal-content">
        <h4>
          Hmm, not quite
        </h4>
        <p id='retry_modal_text'>
          TBD
        </p>
      </div>

      <div class="modal-footer">
        <a 
          href="#!" 
          class="modal-action modal-close waves-effect waves-green btn deepred">
          Try Again
        </a>
      </div>
    </div>

    <div id="modalStrConcat1" class="modal bottom-sheet">
      <div class="modal-content">
        <h4>
          String Concatenation
        </h4>
        <pre>
          <code>
final_word = final_word + caesar_shift(plaintext_letter, shift_value)
          </code>
        </pre>
        <p> 
          In computers, words (like your plaintext or ciphertext message) are 
          referred to as strings. This is just some vocabulary about how 
          computers work with literal words. In the Python programming language,
          when we want to combine two words (perhaps we want to combine "Alan"
          and "Turing" to get "AlanTuring"), <strong>we represent this as 
          "adding" the two strings</strong>, seen here! This line of code 
          combines the ciphertext we already created with a new letter we 
          encrypt using our <code>caesar_shift</code> from before. 
            <a 
              href="#" 
              style="color: #3F5666 !important;" 
              onclick="$('#modalCaesar').modal('open')">
              Click here if you forgot how <code>caesar_shift</code> works.
            </a>
        </p>
      </div>

      <div class="modal-footer">
        <a 
          href="#!" 
          class="modal-action modal-close waves-effect waves-green btn-flat">
          Close
        </a>
      </div>
    </div>

<!-- Modal for talking through the Caesar Shift code -->

    <div id="modalCaesar" class="modal">
      <div class="modal-content">
        <h4>
          Caesar Shift Encryption
        </h4>
        <pre>
          <code id="encrypt_code">
encoded_letter = ord(c) + shift_value
...
ciphertext = ciphertext + (chr(encoded_letter))
          </code>
        </pre>
        <p>
          Here is the Caesar Shift algorithm from the encryption exercise. We 
          can use the same algorithm, but flip the direction we move through 
          the alphabet in order to perform a decryption.
        </p>
      </div>

      <div class="modal-footer">
        <a 
          href="#!" 
          class="modal-action modal-close waves-effect waves-green btn-flat">
          Close
        </a>
      </div>
    </div>

<!-- Modal for discussing ASCII representation of letters -->

    <div id="modalOrd" class="modal bottom-sheet">
      <div class="modal-content">
        <h4>
          "ord" and ASCII Values
        </h4>
        <pre>
          <code>
alphabet_offset = ord('a')
          </code>
        </pre>
        <p>
          In computers, everything is stored as a number. Yep, even letters in 
          computers are represented as numbers. The <code>ord</code> function 
          in python takes in a letter and returns the value it is stored by 
          within the computer. This is referred to as its ASCII value.
          Here, we find the number that represents the letter 'a' in order to 
          compute the other letter's position in the alphabet (starting with 
          'a' having a position of 0) through simple subtraction of the two 
          values.
        </p>
      </div>

      <div class="modal-footer">
        <a 
          href="#!" 
          class="modal-action modal-close waves-effect waves-green btn-flat">
          Close
        </a>
      </div>
    </div>

<!-- Modal for elaborating iteration, and the thought process behind its use -->

    <div id="modalForLoop1" class="modal bottom-sheet">
      <div class="modal-content">
        <h4>
          For Loops
        </h4>
        <pre>
          <code>
  for eachletter in plaintext:
    #Do something
          </code>
        </pre>
        <p>
          A for loop instructs the computer to do something repeatedly. In this
          case, we are going to be performing the letter shifting operation for
          each letter in the plaintext. In this example, we are encrypting the
          text one letter at a time by using the for loop statement, looping
          through each letter in the starting message.
        </p>
        <p>
          The <code>len</code> function gets the length of the plaintext message
          and the <code>range</code> function allows us to loop over the numbers
          0, 1, ..., the number of letters in the plaintext message minus 1. We
          can then access the letters of the plaintext message through the
          python syntax <code>plaintext[letter_index]</code> which will give us
          the <code>letter_index</code>ith letter of the plaintext 
          (starting at 0).
        </p>
      </div>

      <div class="modal-footer">
        <a 
          href="#!"
          class="modal-action modal-close waves-effect waves-green btn-flat">
          Close
        </a>
      </div>
    </div>

<!-- Modal for explaining how to calculate the position of a letter in the 
      alphabet -->

    <div id="modalOffset" class="modal bottom-sheet">
      <div class="modal-content">
        <h4>
        Calculating the Alphabet Offset
        </h4>
        <pre>
          <code>
shift_value = ord(encryption_letter) - alphabet_offset
          </code>
        </pre>
        <p>
          As we discussed above, the <code>ord</code> function converts a 
          letter into its ASCII value as it is represented in the computer. 
          Here, we get the ASCII value corresponding to our password letter, 
          and subtract the ASCII value of 'a' to get the position of this 
          letter in the alphabet, our shift value we will use for our 
          substitution.
        </p>
      </div>

      <div class="modal-footer">
        <a 
          href="#!" 
          class="modal-action modal-close waves-effect waves-green btn-flat">
          Close
        </a>
      </div>
    </div>

<!-- Modal for explaining the use of iteration in the Caesar Shift algorithm -->

    <div id="modalForLoop" class="modal bottom-sheet">
      <div class="modal-content">
        <h4>
          For Loops
        </h4>
        <pre>
          <code>
  for eachletter in plaintext:
    #Do something
          </code>
        </pre>
        <p>
          A for loop instructs the computer to do something repeatedly. In this 
          case, we are going to be performing the letter shifting operation for 
          each letter in the plaintext. In this example, we are encrypting the 
          text one letter at a time by using the for loop statement, looping 
          through each letter in the starting message.
        </p>
      </div>

      <div class="modal-footer">
        <a 
          href="#!" 
          class="modal-action modal-close waves-effect waves-green btn-flat">
          Close
        </a>
      </div>
    </div>

<!-- Modal for explaining ASCII -->

    <div id="modalOrdChr" class="modal bottom-sheet">
      <div class="modal-content">
        <h4>
          Ord and Chr
        </h4>
        <pre>
          <code>
encoded_letter = ord(c) + shift_value
...
ciphertext = ciphertext + (chr(encoded_letter))
          </code>
        </pre>
        <p>
          <code>ord</code> and <code>chr</code> are two special Python 
          functions. In computers, letters are represented by numbers, often 
          referred to as their ASCII number. By converting a letter to its ASCII 
          number, we can add the shift value to its ASCII number to get the 
          number representing our ciphertext letter. <code>ord</code> converts 
          a letter into its ASCII number and <code>chr</code> converts a 
          ASCII number into a letter.
        </p>
      </div>

      <div class="modal-footer">
        <a 
          href="#!" 
          class="modal-action modal-close waves-effect waves-green btn-flat">
          Close
        </a>
      </div>
    </div>

<!-- Modal for explaining the process of shifting a letter by a value -->

    <div id="modalShiftVal" class="modal bottom-sheet">
      <div class="modal-content">
        <h4>
          shift_by_value_in_alphabet
        </h4>
        <pre>
          <code>
def shift_by_value_in_alphabet(starting_letter, shift_value):
  return chr(ord(starting_letter) + shift_value)
          </code>
        </pre>
        <p>
          This function takes in a letter and an amount to shift by, and 
          returns the letter computed by shifting the starting letter by the 
          <code>shift_value</code> in the alphabet. Note that <code>ord</code>
          turns a letter into its numeric representation in the computer, and
          <code>chr</code> converts a number into its corresponding letter. This
          numeric system for representing letters is known as the ASCII
          convention.
        </p>
      </div>

      <div class="modal-footer">
        <a 
          href="#!" 
          class="modal-action modal-close waves-effect waves-green btn-flat">
          Close
        </a>
      </div>
    </div>

<!-- Modal for explaining the concept of wrapping around the alphabet back
      to 'a' -->

    <div id="modalWrapA" class="modal bottom-sheet">
      <div class="modal-content">
        <h4>
          wrap_around_a
        </h4>
        <pre>
          <code>
def wrap_around_a(letter):
  return chr(ord('a') + (ord(letter) - ord('z')) - 1)
          </code>
        </pre>
        <p>
          If the result of the shift on our input letter goes past 'z', we need
          to wrap around the alphabet starting back at 'a'.
        </p>
      </div>

      <div class="modal-footer">
        <a 
          href="#!" 
          class="modal-action modal-close waves-effect waves-green btn-flat">
          Close
        </a>
      </div>
    </div>

<!-- Modal for explaining the concept of wrapping around the alphabet back
      to 'z' -->

    <div id="modalWrapZ" class="modal bottom-sheet">
      <div class="modal-content">
        <h4>
          wrap_around_z
        </h4>
        <pre>
          <code>
def wrap_around_z(letter):
  return chr(ord('z') - (ord('a') - ord(letter)) + 1)
          </code>
        </pre>
        <p>
          If the result of the shift on our input letter goes past 'a', we need
          to wrap around the alphabet starting back at 'z' and moving in the
          negative direction through the alphabet.
        </p>
      </div>

      <div class="modal-footer">
        <a 
          href="#!" 
          class="modal-action modal-close waves-effect waves-green btn-flat">
           Close
        </a>
      </div>
    </div>

<!-- Modal for explaining the concept of strings and concatenation -->    

    <div id="modalStrConcat" class="modal bottom-sheet">
      <div class="modal-content">
        <h4>
          String Concatenation
        </h4>
        <pre>
          <code>
ciphertext = ciphertext + encoded_letter
          </code>
        </pre>
        <p>
          In computers, words (like your plaintext or ciphertext message) are 
          referred to as strings. This is just some vocabulary about how 
          computers work with literal words. In the Python programming language, 
          when we want to combine two words (perhaps we want to combine "Alan" 
          and "Turing" to get "AlanTuring"), <strong>we represent this as 
          "adding" the two strings</strong>, seen here! This line of code 
          combines the ciphertext we already created with the new letter we 
          just encrypted.
        </p>
      </div>

      <div class="modal-footer">
        <a 
          href="#!" 
          class="modal-action modal-close waves-effect waves-green btn-flat">
          Close
        </a>
      </div>
    </div>

  </body>

  <script src="../js/highlight.pack.js"></script>
  <!-- Initialize code syntax highlighting -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="../js/materialize.js"></script>
  <script type="text/javascript" src="password.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
</html>