<!-- 
Jordan Stapinski 
Enigma Teaching Unit
Caesar-Shift Pages HTML
base_caesar_shift_exercise.html
-->

<!doctype HTML>
<link type="text/css" rel="stylesheet" href="../css/railscasts.css"  
                                                    media="screen,projection"/>
<link type="text/css" rel="stylesheet" href="../css/materialize.css"  
                                                    media="screen,projection"/>
<link type="text/css" rel="stylesheet" href="caesar-shift.css" 
                                                    media="screen,projection"/>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
                                                              rel="stylesheet">
<link rel="shortcut icon" href="../images/favicon.ico">

<style>
body {
  background-color: rgba({{red}}, {{green}}, {{blue}}, {{opacity}});
  height: 100%;
  background-size: cover;
}
</style>

<html>

	<head>
		<title>
      Caesar Shift {{exercise_type}}
    </title>
	</head>

  <nav>
    <div class="nav-wrapper">
      <a 
        href="#" 
        class="brand-logo right" 
        style="padding-right:50px">
        Enigma: An Introduction to Cryptography
      </a>
      <div class="col s12 pull-s1">
        <a 
          href="/caesar-shift/sandbox" 
          class="breadcrumb"
          target = "_blank" 
          style="padding-left:50px">
          Caesar Shift
        </a>
      </div>
    </div>
  </nav>

	<body>
    <div class="row">
      <div class="col s6 offset-s1">
  		  <h3>
          Caesar Shift {{exercise_type}}
        </h3>
      </div>
    </div>

<!-- Instructions -->
    <div id="instruction_set">
      <div class="row">
          <h4 class = "col offset-s1">
            Instructions:
          </h4>        
          <span class="flow-text col s10 offset-s1">
          {% if exercise_type == 'Encrypt' %}
            <ol>
              <li class="flow-text">Set the starting text to <b>move north</b>.</li>
              <li class="flow-text">Set the 'Shift Each Letter By' value to <b>3</b>.</li>
              <li class="flow-text">Click <b>'Encrypt'</b>.</li>
            </ol>
          {% elif exercise_type == 'Decrypt' %}
            <ol>
              <li class="flow-text">Pick a value we think the text was shifted by.</li>
              <li class="flow-text">Click 'Decrypt'.</li>
              <li class="flow-text">See if the final text is legible!</li>
              <li class="flow-text">If the final text is illegible then try another value!</li>
            </ol>
          {% else %}
          <p>Play around with encrypting and decrypting text!</p>
          {% endif %}
          </span>
      </div>
    </div>


    <div class="row">
      <div class="col s3 offset-s1">
        <a 
          id="instruction_button" 
          class="waves-effect waves-green btn navy" 
          onclick="modify_instructions()"
          style='width: 70%'>
          Hide Instructions
        </a>
      </div>
    </div>

    <div class="row">
      <div class="col s3 offset-s1">
        <a 
          id="instruction_button" 
          class="waves-effect waves-green btn darkyellow black-text" 
          onclick="open_start_modal()"
          style='width: 70%'>
          Help!
        </a>
      </div>
    </div>

    <br/>

    <div class='square-box' id='square-box'>
      <div class='square-content'><div>
        <span id="black-box-parent">
          <h4 id="black_box_text">
          {% if exercise_type == 'Sandbox' %}
            Caesar Shift Mechanism
          {% else %}
            {{exercise_type}} Mechanism
          {% endif %}
          </h4>
        </span>
      </div></div>

    <!-- Buttons within Black Box container -->
      <div class="center-btn" id="button-container">
        <a 
          class="waves-effect waves-green btn beige black-text tooltipped" 
          id="encrypt" 
          data-tooltip="{{exercise_type}} the Starting Text!">
          {% if exercise_type == 'Sandbox' %}
            Encrypt/Decrypt
          {% else %}
            {{exercise_type}}
          {% endif %}
        </a> 
        <a 
          class="waves-effect waves-red btn darkyellow black-text tooltipped" 
          id="show_code" 
          data-tooltip="Show some real computer code that encrypts the Starting Text" 
          href="#modal1">
          Show Code
        </a>
        {% if exercise_type == 'Sandbox' %}
          <a 
            class="waves-effect waves-red btn deepred black-text tooltipped" 
            id="open_sandbox" 
            data-tooltip="Explore using the Caesar Shift on words you choose!" 
            href="javascript:window.close();" 
            target="_blank">
            Go Back to the Exercise
          </a>
        {% else %}
          <a 
            class="waves-effect waves-red btn darkyellow black-text tooltipped" 
            id="open_sandbox" 
            data-tooltip="Explore using the Caesar Shift on words you choose!" 
            href="/caesar-shift/sandbox" 
            target="_blank">
            Play with Caesar Shift
          </a>
        {% endif %}
      </div>
    </div>

<!-- Plaintext inputs -->
    <br/>
    <br/>

    <div class="row">
      <div class="input-field col s3 pull-s2 tooltipped" 
          data-tooltip="This is the text we want to shift through the 
          Caesar Shift Mechanism">
        {% if exercise_type == 'Decrypt' %}
        <input 
          disabled 
          placeholder="ryic nypgq" 
          id="plaintext_value" 
          value="ryic nypgq" 
          type="text" 
          class="validate">
        {% else %}             
        <input 
          placeholder="Starting Text Goes Here" 
          id="plaintext_value" 
          type="text" 
          class="validate">
        {% endif %}
        <label for="plaintext_value">
          Starting Text
        </label>
      </div>

      <!-- TODO replace -->
      <br />
      <br/>
      <br/>
      <br/>

<!-- Shift Value inputs -->

      <div class="col s2 pull-s2 flow-text">

          {% if exercise_type != 'Decrypt' %}
            <label 
              class="flow-text tooltipped" 
              data-position="bottom" 
              data-delay="50"
              data-tooltip="This is how much we want to shift by (negative means 
                to the left, and positive means to the right!)">
            Shift Each Letter By:
          {% else %}
            <label 
              class="flow-text tooltipped" 
              data-position="bottom" 
              data-delay="50"
              data-tooltip="This is how much we guess the text was shifted by to get the secret message.">
            Possible Initial Shift:
          {% endif %} 
          <i class="tiny material-icons">info_outline</i>
        </label>
      </div>

<!-- Spinner -->
      <div class="input-field col s2 pull-s3 flow-text" style='margin-top: 50px;'>
        <canvas 
          id="canvas" 
          width="100" 
          height="250">
        </canvas>
      </div>

      <div class="col s1 pull-s4" style='margin-top: 50px;'>
        <a 
          class="waves-effect waves-green btn navy white-text" 
          id="spinUp"
          style="width: 100% !important;
                 margin-top: 100px !important;
                 text-align: center;">
          Up
        </a>
        <a 
          class="waves-effect waves-green btn deepred white-text" 
          id="spinDown"
          style="width: 100% !important;
                 text-align: center;">
          Down
        </a>
      </div>

      <!-- Output fields -->


      <div class="input-field col s3 flow-text" >
        <input 
          disabled 
          placeholder="J dbnf, J tbx, J dporvfsfe" 
          value="J dbnf, J tbx, J dporvfsfe" 
          id="output_text" 
          type="text">
        <label 
          for="output_text"
          class="tooltipped"
          data-tooltip="This is the shifted starting text using the shift value 
            passed">
          Final Text <i class="tiny material-icons">info_outline</i>
        </label>
        <a 
          class="waves-effect waves-green btn beige black-text" 
          id="clipboard">
          Copy to Clipboard
        </a>
      </div>

    </div>


<!-- MODALS -->

    <div id="modal1" class="modal">
      <div class="modal-content">
      {% if exercise_type == 'Sandbox' %}
        <h4>Caesar Shift Code</h4>
      {% else %}
        <h4>Caesar Shift {{exercise_type}} Code</h4>
      {% endif %}
        <p 
          class="tooltipped" 
          data-tooltip="Python is a computer programming language (like 
            Java or C, which you may have heard of">
          Here is some Python computer code that performs the Caesar Shift 
          given some starting text and a shifting value:
        </p>

        <!-- Python shift code -->
        <pre><code id="shift_code">
        </code></pre>
      </div>

      <div class="modal-footer">
        <a 
          href="#!" 
          class="modal-action modal-close btn deepred">
          Close
        </a>
      </div>
    </div>

<!-- Modal for displaying positive feedback -->

    <div id="modalSuccess" class="modal bottom-sheet">
      <div class="modal-content">
        <h4>Correct!</h4>
        <p id="success_text">
          Notice how the encryption code mechanism cycled through the alphabet 
          at each letter the number of times as we indicated in our shift. Now 
          we have some ciphertext to communicate our orders! Now let's try to 
          decrypt some ciphertext using a similar mechanism.
        </p>
      </div>

      <div class="modal-footer">
        <a 
          href={{next_route}} 
          class="modal-action modal-close waves-effect waves-green btn navy">
          Continue
        </a>
      </div>
    </div>

<!-- Modal for displaying negative feedback -->

    <div id="modalRetry" class="modal bottom-sheet">
      <div class="modal-content">
        <h4>Hmm, not quite</h4>
        <p id="retry_text">
          {% if exercise_type == 'Encrypt' %}
          Be sure you are:
            <ol>
              <li class="flow-text">Set the starting text to <b>move north</b></li>
              <li class="flow-text">Set the 'Shift Each Letter By' value to <b>3</b></li>
              <li class="flow-text">Click <b>'Encrypt'</b></li>
            </ol>
          {% else %}
          Try another possible encryption shift value!
          {% endif %}
        </p>
      </div>

      <div class="modal-footer">
        <a 
          href="#!" 
          class="modal-action modal-close waves-effect waves-green btn deepred">
          Try Again
        </a>
      </div>
    </div>

<!-- Modal for explaining iteration -->

    <div id="modalForLoop" class="modal bottom-sheet">
      <div class="modal-content">
        <h4>For Loops</h4>
        <pre>
          <code>
  for eachletter in plaintext:
    #Do something
          </code>
        </pre>
        <p>
          A for loop instructs the computer to do something repeatedly. In 
          this case, we are going to be performing the letter shifting operation
          for each letter in the plaintext. In this example, we are encrypting 
          the text one letter at a time by using the for loop statement, 
          looping through each letter in the starting message.
        </p>
      </div>

      <div class="modal-footer">
        <a 
          href="#!" 
          class="modal-action modal-close waves-effect waves-green btn-flat">
          Close
        </a>
      </div>
    </div>

<!-- Modal for explaining ASCII -->

    <div id="modalOrdChr" class="modal bottom-sheet">
      <div class="modal-content">
        <h4>Ord and Chr</h4>
        <pre>
          <code>
encoded_letter = ord(c) + shift_value
...
ciphertext = ciphertext + (chr(encoded_letter))
          </code>
        </pre>
        <p>
          <code>ord</code> and <code>chr</code> are two special Python 
          functions. In computers, letters are represented by numbers, 
          often referred to as their ASCII number. By converting a letter to 
          its ASCII number, we can add the shift value to its ASCII number to 
          get the number representing our ciphertext letter. <code>ord</code> 
          converts a letter into its ASCII number and <code>chr</code> converts 
          a ASCII number into a letter.
        </p>
      </div>

      <div class="modal-footer">
        <a 
          href="#!" 
          class="modal-action modal-close waves-effect waves-green btn-flat">
          Close
        </a>
      </div>
    </div>

<!-- Modal for explaining shifting a letter by a value -->

    <div id="modalShiftVal" class="modal bottom-sheet">
      <div class="modal-content">
        <h4>shift_by_value_in_alphabet</h4>
        <pre>
          <code>
def shift_by_value_in_alphabet(starting_letter, shift_value):
  return chr(ord(starting_letter) + shift_value)
          </code>
        </pre>
        <p>
          This function takes in a letter and an amount to shift by, and 
          returns the letter computed by shifting the starting letter by the 
          <code>shift_value</code> in the alphabet. Note that <code>ord</code>
          turns a letter into its numeric representation in the computer, and
          <code>chr</code> converts a number into its corresponding letter. This
          numeric system for representing letters is known as the ASCII
          convention.
        </p>
      </div>

      <div class="modal-footer">
        <a 
          href="#!" 
          class="modal-action modal-close waves-effect waves-green btn-flat">
          Close
        </a>
      </div>
    </div>

<!-- Modal for explaining the concept of wrapping around the alphabet back
      to 'a' -->

    <div id="modalWrapA" class="modal bottom-sheet">
      <div class="modal-content">
        <h4>wrap_around_a</h4>
        <pre>
          <code>
def wrap_around_a(letter):
  return chr(ord('a') + (ord(letter) - ord('z')) - 1)
          </code>
        </pre>
        <p>
          If the result of the shift on our input letter goes past 'z', we need
          to wrap around the alphabet starting back at 'a'.
        </p>
      </div>

      <div class="modal-footer">
        <a 
          href="#!" 
          class="modal-action modal-close waves-effect waves-green btn-flat">
          Close
        </a>
      </div>
    </div>

<!-- Modal for explaining the concept of wrapping around the alphabet back
      to 'z' -->

    <div id="modalWrapZ" class="modal bottom-sheet">
      <div class="modal-content">
        <h4>wrap_around_z</h4>
        <pre>
          <code>
def wrap_around_z(letter):
  return chr(ord('z') - (ord('a') - ord(letter)) + 1)
          </code>
        </pre>
        <p>
          If the result of the shift on our input letter goes past 'a', we need
          to wrap around the alphabet starting back at 'z' and moving in the
          negative direction through the alphabet.
        </p>
      </div>

      <div class="modal-footer">
        <a 
          href="#!" 
          class="modal-action modal-close waves-effect waves-green btn-flat">
          Close
        </a>
      </div>
    </div>

<!-- Modal for explaining the concept of strings and concatenation -->    

    <div id="modalStrConcat" class="modal bottom-sheet">
      <div class="modal-content">
        <h4>
          String Concatenation
        </h4>
        <pre>
          <code>
ciphertext = ciphertext + encoded_letter
          </code>
        </pre>
        <p>
          In computers, words (like your Starting Text or Final Text message) are 
          referred to as strings. This is just some vocabulary about how 
          computers work with literal words. In the Python programming language, 
          when we want to combine two words (perhaps we want to combine "Alan" 
          and "Turing" to get "AlanTuring"), <strong>we represent this as 
          "adding" the two strings</strong>, seen here! This line of code 
          combines the ciphertext we already created with the new letter we 
          just encrypted.
        </p>
      </div>

      <div class="modal-footer">
        <a 
          href="#!" 
          class="modal-action modal-close waves-effect waves-green btn-flat">
          Close
        </a>
      </div>
    </div>

    <div id="modalDecryptEncrypt" class="modal">
      <div class="modal-content">
        <h4>Caesar Shift Encryption</h4>
        <pre>
          <code id="encrypt_code">
encoded_letter = ord(c) + shift_value
...
ciphertext = ciphertext + (chr(encoded_letter))
          </code>
        </pre>
        <p>
          Here is the Caesar Shift algorithm from the encryption exercise. We 
          can use the same algorithm, but flip the direction we move through 
          the alphabet in order to perform a decryption (which we performed
          before coming into this function by setting:<br/> <code>shift_value = 
          -shift_value</code>.
        </p>
      </div>

      <div class="modal-footer">
        <a 
          href="#!" 
          class="modal-action modal-close waves-effect waves-green btn-flat">
          Close
        </a>
      </div>
    </div>

<!-- Modal for displaying sandbox intro -->

    <div id="modal_sandbox" class="modal">
      <div class="modal-content">
        <h4>Caesar Shift {{exercise_type}}</h4>
        <p id="opening_modal_text">
          {% if exercise_type != 'Decrypt' %}
            Often, we wish to <strong>encrypt</strong> a message, or convert it to come secret language to hide it. <br/>
            One way to hide a message is by shifting each letter in the message by some number of letters through the alphabet.
            <img src="/images/cs.png"/>
            <p style='text-align: center'>Here we <strong>shift each letter by 1</strong> in the alphabet.<br/>
            This turns <strong>abc to bcd</strong>!</p>
            <p>This is called a <strong>Caesar Shift</strong> encryption.</p>            
          {% else %}
            Often, we wish to <strong>decrypt</strong> a message, or convert it from some secret language to an original message. <br/>
            We can do this, if the Caesar Shift was used, by shifting by the negative of the initial shift value.
            <img src="/../images/cs_inv.png"/>
            <p style='text-align: center'>Here we <strong>shift each letter by -1</strong> in the alphabet.<br/>
            This turns <strong>bcd back to abc</strong>!</p>
            <p>Do you see a connection between encrypting and decrypting with the Caesar Shift?</p>
          {% endif %}
        </p>
      </div>

      <div class="modal-footer">
        <a 
          href="#!" 
          class="modal-action modal-close waves-effect waves-green btn-flat">
          Close
        </a>
      </div>
    </div>

    <!-- Importing Javascripts -->

    <script src="../js/highlight.pack.js"></script>
    <!-- Initialize code syntax highlighting -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="../js/materialize.js"></script>
    {% if exercise_type == 'Sandbox' %}
      <script type="text/javascript" src="sandbox.js"></script>
    {% elif exercise_type == 'Encrypt' %}
      <script type="text/javascript" src="encrypt.js"></script>
    {% elif exercise_type == 'Decrypt' %}
      <script type="text/javascript" src="decrypt.js"></script>
    {% endif %}
    <script type="text/javascript" src="caesar-shift.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
	</body>
</html>