<!-- Jordan Stapinski
   Enigma Unit - Enigma HTML
-->

<!doctype html>
<link type="text/css" rel="stylesheet" href="../css/railscasts.css"  media="screen,projection"/>
<link type="text/css" rel="stylesheet" href="../css/materialize.css"  media="screen,projection"/>
<link type="text/css" rel="stylesheet" href="enigma.css" media="screen,projection"/>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<link rel="shortcut icon" href="../images/favicon.ico">

<style>
body {
  background-color: rgba(40, 70, 40, 0.2);
  height: 100%;
  background-size: cover;
}

.nav-wrapper {
  background-color: #3F5666 !important;
}
</style>

<html>
  <head>
    <title>{{title}}</title>
  </head>
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo right" style="padding-right:50px">Enigma: An Introduction to Cryptography</a>
      <div class="col s12 pull-s1">
        <a 
          href="/caesar-shift/encrypt" 
          class="breadcrumb"
          target = "_blank" 
          style="padding-left:50px">
          Caesar Shift
        </a>
        <a 
          href="/password/sandbox" 
          class="breadcrumb"
          target = "_blank">Vigenere Cipher</a>
        <a 
          href="/enigma/sandbox" 
          class="breadcrumb"
          target = "_blank">Enigma Machine</a>
      </div>
    </div>
  </nav>
  <body>

    <div class="row">
      <div class="col s10 offset-s1">
        <h3>{{title}}</h3>
      </div>
    </div>

    <div id="instruction_set">
      <div class="row">
          <h4 class="col offset-s1">Instructions:</h4>
          <p class="flow-text col s10 offset-s1" id="instructions_text">
          The Enigma Machine is a series of rotors which break encryption into multiple steps
          and changes each time as the rotors rotate.<br><br>
          Encrypt the text <strong>hello</strong> twice to see this effect in action and
          watch the Enigma Machine encrypt!
          </p>        
      </div>
    </div>

    <div class="row">
      <div class="col s2 offset-s1">
        <a id="instruction_button" class="waves-effect waves-green btn navy" 
          onclick="modify_instructions()">
          Hide Instructions
        </a>
      </div>
    </div>

    <br/>

    <div class="row">
      <div class="col s2 offset-s1"
           style="margin-top: 20px">
        <div class="input-field">
          <input 
            placeholder="a" 
            value="a" 
            id="plaintext_value" 
            type="text">
          <label for="plaintext_value"
                 class="tooltipped"
                 data-tooltip="This is our starting text which we will modify 
                  with the Enigma Machine">
            <strong>1.</strong> Starting Text
            <i class="tiny material-icons">
              info_outline
            </i>
          </label>

            <h6 id='delay_text'>Animation Delay:</h6>

            <p class="range-field">
              <input type="range" id="speed_limit" min="200" max="2000" default="500" onchange="javascript:step_delay = this.value; delay_text.innerHTML = 'Animation Delay: '.concat(this.value, 'ms')" />
            </p>

            <a 
              class="waves-effect waves-green btn beige black-text tooltipped s6" 
              id="encrypt" 
              data-tooltip="Encrypt the Starting Text!"
              style="width: 100%;">
              Run
            </a>

          <div style="margin-top: 15px;">
            <a 
              class="waves-effect waves-green btn darkyellow black-text tooltipped s6" 
              id="show_code"
              href = "#modal_rotor"
              data-tooltip="Show Code!"
              style="width: 49%;">
              Code View
            </a>

            <a 
              class="waves-effect waves-green btn darkyellow black-text tooltipped" 
              id="show_code2"
              data-tooltip="Step manually through the animation!"
              onclick="javascript:step_mode=true;next_step_function();" 
              style="width: 49%;">
              Step Through
            </a>

            {% if exercise_type != 'Sandbox' %}
              <a 
                class="waves-effect waves-green btn beige black-text tooltipped s6" 
                id="sandbox" 
                data-tooltip="Play with the Enigma Machine in Sandbox Mode!"
                style="width: 100%; margin-top: 15px"
                href="/enigma/sandbox"
                target="_blank">
                Sandbox Mode
              </a>
          {% else %}
              <a 
                class="waves-effect waves-green btn deepred black-text tooltipped s6" 
                id="sandbox" 
                data-tooltip="Close this tab!" 
                href="javascript:window.close();"                 
                style="width: 100%; margin-top: 15px"
                target="_blank">
                Close the Sandbox
              </a>
          {% endif %}

              <a 
                class="waves-effect waves-green btn darkyellow black-text tooltipped s6" 
                id="enigma_help" 
                data-tooltip="What is the Enigma Machine?"
                style="width: 100%; margin-top: 15px"
                href="#modal_enigma">
                What is Enigma?
              </a>

          </div>

        </div>
        <div class="input-field"
           style="margin-top: 50px">
        <input disabled
          placeholder="" 
          value="" 
          id="ciphertext_value" 
          type="text">
        <label for="ciphertext_value"
               class="tooltipped"
               data-tooltip="This is our ending text from the Enigma Machine">
          Ending Text
          <i class="tiny material-icons">
            info_outline
          </i>
        </label>
      </div> 
      </div>

      <canvas
        width='1000px' height='500px'
        id="rotor_canvas">
      </canvas>     

    </div>

    <div class='row'>
      <div class='col offset-s4 s6'>
        <p id='comment_text'></p>
      </div>  
    </div>

    <div id="modal_enigma" class="modal">
      <div class="modal-content">
        <h4>
          The Enigma Machine
        </h4>
        <p id='opening_modal_text'>
          During World War II, one means of encrypting communication was through the use of 
          the 'Enigma Machine'. The Enigma Machine consisted of a series of rotors (similar 
          to gears) which each mapped one letter to another and a reflector.
          <br><br> The Enigma Machine encryption worked as follows:
          <ol>
            <li>A letter from the message would be sent to rotor 1.</li>
            <li>The <strong>first rotor spins</strong>, creating a new mapping of letters.</li>
            <li>The original letter is encrypted using the mapping on <strong>rotor 1</strong> (outside to inside).</li>
            <li>The encrypted letter is sent to <strong>rotor 2</strong>, where it is encrypted again (outside to inside).</li>
            <li>The letter is sent to the <strong>reflector</strong>, where it is encrypted again (perhaps with a Caesar Shift).</li>
            <li>The letter is then <strong>sent back to rotor 2</strong>, where it is encrypted using the opposite mapping (inside to outside). This is called the <strong>inverse</strong>.</li>
            <li>The letter is finally <strong>sent back to rotor 1</strong>, encrypted again using the inverse mapping (inside to outside).</li>
          </ol>
          <p>In other words, for each letter in the message:<br>
          <div style='text-align: center;'>
            <p>
              original letter <i class="tiny material-icons arrow">arrow_forward</i> 
              rotor 1 (after rotating) <i class="tiny material-icons arrow">arrow_forward</i> 
              rotor 2 <i class="tiny material-icons arrow">arrow_forward</i> 
              reflector <i class="tiny material-icons arrowback">arrow_forward</i> 
              inverse rotor 2 <i class="tiny material-icons arrowback">arrow_forward</i> 
              inverse rotor 1 <i class="tiny material-icons arrowback">arrow_forward</i>
              encrypted letter
            </p>
          </div>
            </p>
        </p>
        {% if exercise_type != 'Sandbox' %}
        <p>
          Try the example below, and encrypt the text <strong>hello</strong> twice to
          see the changing encryption caused by rotating the rotors.
        </p>
        {% endif %}
      </div>
      <div class="modal-footer">
        <a 
          href="#!" 
          class="modal-action modal-close waves-effect waves-green btn navy">
          Go!
        </a>
      </div>
    </div>

    <div id="modal_rotor" class="modal">
      <div class="modal-content">
        <h4>
          Coding the Rotors
        </h4>
        <p>
          One method of programming is called <strong>Object-Oriented Programming</strong>. We can
          represent things as general outlines, called objects. Objects are like stencils: we can
          make a general stencil and create copies of the same thing quickly. These copies are called
          <strong>instances</strong>.
          <br><br>
          Here, we create a general outline
          for an Enigma rotor and think of the properties it should have, like outer and inner
          wheels, the ability to rotate, and the ability to process the encryption of a letter.
          <br><br>
          With this in mind, we can write functions for our rotor to generalize, so we don't have
          to repeat code to make another rotor!
        </p>
        <pre>
          <code id="encrypt_code">
encoded_letter = ord(c) + shift_value
...
ciphertext = ciphertext + (chr(encoded_letter))
          </code>
        </pre>
      </div>

      <div class="modal-footer">
        <a 
          href="#!" 
          class="modal-action modal-close waves-effect waves-green btn-flat">
          Close
        </a>
      </div>
    </div>

<!-- Modal for explaining the concept of classes and OOP -->

    <div id="modal_class" class="modal bottom-sheet">
      <div class="modal-content">
        <h4>
          Python Classes
        </h4>
        <pre>
          <code>
class Rotor(object):
          </code>
        </pre>
        <p>
          In Python, we have what is called a <strong>class</strong>. A <strong>class</strong> defines an object where we can generalize the properties of a thing and make copies quickly.
        </p>
      </div>

      <div class="modal-footer">
        <a 
          href="#!" 
          class="modal-action modal-close waves-effect waves-green btn-flat">
           Close
        </a>
      </div>
    </div>

<!-- Modal for explaining the concept of class initialization -->

    <div id="modal_init" class="modal bottom-sheet">
      <div class="modal-content">
        <h4>
          Rotor Class Initialization
        </h4>
        <p>
          In Python, <code>__init__</code> is a special function that is run when we make a copy of the class (say by <code>x = Rotor()</code>). It is for initializing all of the variables and such
          for the class. Here we initialize the following:
          <ul>
            <li>The inner and outer wheels (through a helper function)</li>
            <li>The next rotor (for chaining rotations) which is passed as an argument</li>
            <li>The number of notches (or gears) in the rotor</li>
            <li>The number of rotations the rotor has made</li>
          </ul>
        </p>
        <pre>
          <code>
def __init__(this_rotor, next_rotor):
  # We will use lists to represent the inner and outer rings of the rotor
  this_rotor.initialize_inner_and_outer_wheels()

  # We will keep track of the next rotor for rotations
  this_rotor.next_rotor = next_rotor

  this_rotor.number_of_notches = 26
  this_rotor.number_of_rotations = 0
          </code>
        </pre>
      </div>

      <div class="modal-footer">
        <a 
          href="#!" 
          class="modal-action modal-close waves-effect waves-green btn-flat">
           Close
        </a>
      </div>
    </div>

<!-- Modal for explaining the initialization of the wheel arrays -->

    <div id="modal_init_wheels" class="modal bottom-sheet">
      <div class="modal-content">
        <h4>
          Rotor Wheels
        </h4>
        <p>
          For the rotor wheels, we will use Python lists to represent the outer and inner lists.
          The position of the letters in the two lists determines the mapping between the outer
          and inner wheels.<br><br>
          i.e. The letter in position 1 in the outer wheel array maps to the letter in position 1
          in the inner wheel array.<br><br>
          An <strong>array</strong> (or list) is an ordered series of things. For 
          our rotors, the syntax ['a', 'b', ..., 'z'] describes how we represent our wheels. We
          check out the mapping, such as:<br>
          Outer Array: ['a', 'b', ..., 'z']<br>
          Inner Array: ['z', 'a', ..., 'y']<br>
          To see how to map one letter to another by matching vertically.
        </p>
        <pre>
          <code>
def initialize_inner_and_outer_wheels(this_rotor):
  # Set up the outer array to be a list of the letters a-z
  this_rotor.outer_array = this_rotor.initialize_alphabet_array()

  # For the inner array, we will have it go from b-z and add 'a' on the end
  inner_array = this_rotor.initialize_alphabet_array()
  inner_array = rotate_first_element_to_last(inner_array)
  this_rotor.inner_array = inner_array
          </code>
        </pre>
      </div>

      <div class="modal-footer">
        <a 
          href="#!" 
          class="modal-action modal-close waves-effect waves-green btn-flat">
           Close
        </a>
      </div>
    </div>

<!-- Modal for explaining the initialization of an alphabet array -->

    <div id="modal_init_array" class="modal bottom-sheet">
      <div class="modal-content">
        <h4>
          Alphabet Array
        </h4>
        <p>
          To create our rotor arrays, we need to create an array (or a list) of the letters a-z.
          Fortunately <code>string.ascii_lowercase</code> gives us the word
          'abcdefghijklmnopqrstuvwxyz', so we just use the <code>list</code> function
          to turn this into a list/array. <br><br>
          An <strong>array</strong> (or list) is an ordered series of things. In Python, 
          the syntax [0, 1, 2] describes an ordered series of the numbers 0, 1, and 2.
          We want to create an array of the letters a-z, like ['a', 'b', ..., 'z'] to
          manipulate later.
        </p>
        <pre>
          <code>
def initialize_alphabet_array(this_rotor):
  import string
  # string.ascii_lowercase returns a word containing the letters from a-z
  lowercase_letters = string.ascii_lowercase
  # We convert this word to a list
  return list(lowercase_letters)
          </code>
        </pre>
      </div>

      <div class="modal-footer">
        <a 
          href="#!" 
          class="modal-action modal-close waves-effect waves-green btn-flat">
           Close
        </a>
      </div>
    </div>

<!-- Modal for explaining the processing of a letter -->

    <div id="modal_process" class="modal bottom-sheet">
      <div class="modal-content">
        <h4>
          Processing a Letter
        </h4>
        <p>
          When running a letter through the rotor, we find where it is in the outer wheel
          and then map it to the corresponding spot in the inner wheel. We do the same with
          our arrays. We find where the letter is in the outer array, then return whatever
          is in the inner array at that location. <br><br>
          Remember An <strong>array</strong> (or list) is an ordered series of things. For 
          our rotors, the syntax ['a', 'b', ..., 'z'] describes how we represent our wheels. We
          check out the mapping, such as:<br>
          Outer Array: ['a', 'b', ..., 'z']<br>
          Inner Array: ['z', 'a', ..., 'y']<br>
          To see how to map one letter to another by matching vertically.
        </p>
        <pre>
          <code>
def process_letter(this_rotor, letter):
  # We find where in the outer array the letter is, then find the letter
  # at that position in the inner array
  place_in_outer_array = this_rotor.outer_array.index(letter)
  return this_rotor.inner_array[place_in_outer_array]
          </code>
        </pre>
      </div>

      <div class="modal-footer">
        <a 
          href="#!" 
          class="modal-action modal-close waves-effect waves-green btn-flat">
           Close
        </a>
      </div>
    </div>

<!-- Modal for explaining the inverse processing of a letter -->

    <div id="modal_inv" class="modal bottom-sheet">
      <div class="modal-content">
        <h4>
          Inversely Processing a Letter
        </h4>
        <p>
          When running a letter inversely through the rotor, we find where it is in the inner 
          wheel and then map it to the corresponding spot in the outer wheel. We do the same with
          our arrays. We find where the letter is in the inner array, then return whatever
          is in the outer array at that location.<br><br>
          Remember An <strong>array</strong> (or list) is an ordered series of things. For 
          our rotors, the syntax ['a', 'b', ..., 'z'] describes how we represent our wheels. We
          check out the mapping, such as:<br>
          Inner Array: ['z', 'a', ..., 'y']<br>
          Outer Array: ['a', 'b', ..., 'z']<br>
          To see how to map one letter to another by matching vertically.
        </p>
        <pre>
          <code>
def inverse_process_letter(this_rotor, letter):
  # We find where in the inner array the letter is, then find the letter
  # at that position in the outer array
  place_in_inner_array = this_rotor.inner_array.index(letter)
  return this_rotor.outer_array[place_in_inner_array]
          </code>
        </pre>
      </div>

      <div class="modal-footer">
        <a 
          href="#!" 
          class="modal-action modal-close waves-effect waves-green btn-flat">
           Close
        </a>
      </div>
    </div>

<!-- Modal for explaining the rotation of the rotor -->

    <div id="modal_rotate" class="modal">
      <div class="modal-content">
        <h4>
          Rotating the Rotor
        </h4>
        <p>
          When rotating the rotor, we simply rotate the positions of the letters in our outer
          array to match the rotation, and then adjust the number of rotations based on the
          direction of our rotation.<br><br>
          If we rotate clockwise:
          <ol>
            <li>Rotate the last element of the outer array to the front</li>
              (i.e. Outer Array: ['z', 'a', ..., 'y'] <i class="tiny material-icons arrow">arrow_forward</i> ['y', 'z', 'a', ..., 'x']) <br>
            <li>Add one rotation</li>
          </ol>
          <p>If we rotate counterclockwise:</p>
          <ol>
            <li>Rotate the first element of the outer array to the end</li>
              (i.e. Outer Array: ['z', 'a', ..., 'y'] <i class="tiny material-icons arrow">arrow_forward</i> ['a', ..., 'y', 'z']) <br>
            <li>Subtract one rotation</li>            
          </ol>
          <p>If we rotated a full circle, we then rotate the next rotor this one connected to.</p>
        </p>
        <pre>
          <code>
def rotate(this_rotor, clockwise):
  if (clockwise):
    # Rotate the outer array to wrap the last element to the front
    this_rotor.outer_array = rotate_last_element_to_front(this_rotor.outer_array)
    this_rotor.number_of_rotations = this_rotor.number_of_rotations + 1
  else:
    # Rotate the outer array to wrap the front element to the back
    this_rotor.outer_array = rotate_first_element_to_last(this_rotor.outer_array)
    this_rotor.number_of_rotations = this_rotor.number_of_rotations - 1
  if (this_rotor.number_of_rotations == this_rotor.number_of_notches):
    if (this_rotor.next_rotor != None):
      this_rotor.next_rotor.rotate(not clockwise)
  return
          </code>
        </pre>
      </div>

      <div class="modal-footer">
        <a 
          href="#!" 
          class="modal-action modal-close waves-effect waves-green btn-flat">
           Close
        </a>
      </div>
    </div>

<!-- Modal for explaining the inverse processing of a letter -->

    <div id="modal_hello_1" class="modal bottom-sheet">
      <div class="modal-content">
        <h4>
          Halfway There!
        </h4>
        <p>
          Great job encrypting <strong>hello</strong>! Hopefully you got a sense of how the
          Enigma Machine encrypts some text. Try encrypting <strong>hello</strong> again to
          see how the Enigma Machine changes the encryption each time it runs!
        </p>
      </div>

      <div class="modal-footer">
        <a 
          href="#!" 
          class="modal-action modal-close waves-effect waves-green btn-flat">
           Close
        </a>
      </div>
    </div>

    <div id="modal_hello_2" class="modal bottom-sheet">
      <div class="modal-content">
        <h4>
          You got it!
        </h4>
        <p id='final_correct'>
        </p>
      </div>

      <div class="modal-footer">
        <a 
          href="{{next_route}}" 
          class="modal-action modal-close waves-effect waves-green btn navy">
           Close
        </a>
      </div>
    </div>

    <div id="modal_failure" class="modal bottom-sheet">
      <div class="modal-content">
        <h4>
          Not Quite
        </h4>
        <p>
          Be sure to encrypt <strong>hello</strong> or feel free to play around with 
          the Sandbox!
        </p>
      </div>

      <div class="modal-footer">
        <a 
          href="{{next_route}}" 
          class="modal-action modal-close waves-effect waves-green btn-flat">
           Close
        </a>
      </div>
    </div>

  </body>

  <script src="../js/highlight.pack.js"></script>
  <!-- Initialize code syntax highlighting -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="../js/materialize.js"></script>
  <script type="text/javascript" src="rotor.js"></script>
  <script type="text/javascript" src="enigma.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>

</html>