<!-- Jordan Stapinski
   Enigma Unit - Password Encryption HTML
-->

<!doctype html>
<link type="text/css" rel="stylesheet" href="../css/railscasts.css"  media="screen,projection"/>
<link type="text/css" rel="stylesheet" href="../css/materialize.css"  media="screen,projection"/>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<link rel="shortcut icon" href="../images/favicon.ico">

<style>
body {
  background-image: url({{image_path}});
  height: 100%;
  background-size: cover;
}

.nav-wrapper {
  background-color: #3F5666 !important;
}
</style>

{% include "views/password-encrypt.html" %}

<html>
  <head>
    <title>{{title}}</title>
  </head>
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo right" style="padding-right:50px">Enigma: An Introduction to Cryptography</a>
      <div class="col s12 pull-s1">
        <a href="#!" class="breadcrumb" style="padding-left:50px">Caesar Shift</a>
        <a href="#!" class="breadcrumb">Password Shift</a>
      </div>
    </div>
  </nav>
  <body>


    <div class="row">
      <div class="col s10 offset-s1">
        <h1>{{title}}</h1>
      </div>
    </div>

    <div class="row">
      <div class="col s2 offset-s1">
        <a id="instruction_button" class="waves-effect waves-green btn navy" onclick="modify_instructions()">Hide Instructions</a>
      </div>
    </div>

  <br/>

  <div class='square-box' id='square-box'>
      <div class='square-content'><div>
        <span id="black-box-parent">
          {% if exercise_type != 'Sandbox' %}
            <h4 id="black_box_text">{{exercise_type}}ion Mechanism</h4>
          {% else %}
            <h4 id="black_box_text">Password Shift Mechanism</h4>
          {% endif %}
        </span></div>
      </div>
      <div class="center-btn" id="button-container">
        <a class="waves-effect waves-green btn beige black-text tooltipped" id="encrypt" data-tooltip="{{exercise_type}} the Plaintext!">
          {% if exercise_type != 'Sandbox' %}
            {{exercise_type}}
          {% else %}
            Encrypt
          {% endif %}</a> 
        <a class="waves-effect waves-red btn darkyellow black-text tooltipped" id="show_code" data-tooltip="Show some real computer code that encrypts the plaintext" href="#modal_code">Show Code</a>
        {% if exercise_type != 'Sandbox' %}
          <a class="waves-effect waves-red btn darkyellow black-text tooltipped" id="open_sandbox" data-tooltip="Explore using the Password Shift on words you choose!" href="/password/sandbox" target="_blank">Play with Password Shift</a>
        {% else %}
          <a class="waves-effect waves-red btn deepred black-text tooltipped" id="open_sandbox" data-tooltip="Close this tab!" href="javascript:window.close();" target="_blank">Back to Exercise</a>       
        {% endif %}
      </div>
  </div>

      <div class="row">

      <div class="input-field col s3 pull-s2">             
        <input placeholder="I came, I saw, I conquered" value="I came, I saw, I conquered" id="plaintext_value" type="text" class="validate">
        <label for="plaintext_value">{{input_label}}</label>
      </div>

      <div class="input-field col s3 push-s2">             
        <p id="word_shift_text" class="flow-text tooltipped" data-position="bottom" data-delay="50" data-tooltip="This is our password shift with alphabet positions" hidden>Word Shift</p>
      </div>
      <br />
      <br/>
      <br/>
      <br/>
      <br/>

      <div class="col s3 pull-s2">             
      <div class="input-field">
        <input placeholder="password" value="password" id="password_value" type="text" class="validate" onchange="input_change()">
        <label for="password_value">Password</label>
      </div>
      {% if exercise_type == 'Sandbox' %}
        <div class="switch">
        <h6>Password Shift Mode</h6> 
        <label>
          <span class="switch_labels">
            Decryption
          </span>
          <input id="shift_switch" type="checkbox" checked="On" onclick="swap_encryption_decryption()" class="deepred">
          <span class="lever"></span>
          <span class="switch_labels">
            Encryption
          </span>
        </label>
      </div>
      {% endif %}
      </div>

      <div class="input-field col s3 push-s2 flow-text">
        <canvas id="word_shift_canvas" width="300" height="100"></canvas>
      </div>

      <br />
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>

      <div class="col s3 pull-s5 flow-text">
        <p class="flow-text tooltipped" data-position="bottom" data-delay="50" data-tooltip="This is how much we want to shift by (negative means to the left, and positive means to the right!)">Password Start Index</p>
      </div>

      <br/>
      <br/>
      <br/>
      <br/>


      <div class="input-field col s3 pull-s2 flow-text">
        <canvas id="word_index_wheel" width="200" height="200"></canvas>
      </div>

      <div class="col s2 pull-s3">
            <a class="waves-effect waves-green btn navy white-text" style="visibility:hidden">hiddenbuttonforpadding</a>
        <div class="input-field"">

          <input placeholder="0" value="0" id="index_input" type="text" class="tooltipped" data-tooltip="This is the start index you want to jump to" onchange="input_change()">
          <label for="index_input">Index Input</label>
        </div>

      </div>


      <div class="input-field col s3 push-s1 flow-text">
        <input disabled placeholder="J dbnf, J tbx, J dporvfsfe" value="J dbnf, J tbx, J dporvfsfe" id="output_text" type="text" class="tooltipped" data-tooltip="This is the encrypted plaintext using the shift value passed">
        <label for="output_text">{{output_label}}</label>
        <a class="waves-effect waves-green btn beige black-text" id="clipboard">Copy to Clipboard</a>
      </div>

    </div>

    <div class="row">
      <div class="col s5 offset-s1">
      <a class="waves-effect waves-green btn deepred white-text" id="spinDown">-</a>
      <a class="waves-effect waves-green btn navy white-text" id="spinUp" style="margin-left:50px">+</a>
      </div>
    </div>

    <div id="instruction_set">
      <div class="row container">
          <h3>Instructions:</h3>        
      </div>

      <div class="row container">
          <p class="flow-text" id="instructions_text">
          </p>
      </div>
    </div>

    <div id="modal_encrypt" class="modal">
      <div class="modal-content">
        <h4>{{title}}</h4>
        <p id='opening_modal_text'></p>
      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn navy">Go!</a>
      </div>
    </div>

    <div id="modal_code" class="modal">
      <div class="modal-content">
        {% if exercise_type != 'Sandbox' %}
          <h4>Password {{exercise_type}}ion Code</h4>
        {% else %}
          <h4>Password Shift Code</h4>
        {% endif %}
        <p class="tooltipped" data-tooltip="Python is a computer programming language (like Java or C, which you may have heard of">Here is some Python computer code that performs the password shift given some plaintext and a password:</p>


        <pre><code id="encryption_code">
        </code></pre>


      <div class="switch">
        Scrollover Hints: 
        <label>
          Off
          <input id="shift_switch" type="checkbox" checked="On" onclick="enable_tooltips = !enable_tooltips" class="deepred">
          <span class="lever"></span>
          On
        </label>
      </div>

      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-action modal-close btn deepred">Close</a>
      </div>
    </div>

  </body>

  <script src="../js/highlight.pack.js"></script>
  <!-- Initialize code syntax highlighting -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="../js/materialize.js"></script>
  <script type="text/javascript" src="password.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
</html>