<!-- 
Jordan Stapinski 
Enigma Teaching Unit
Sandbox Page
-->

<!doctype HTML>
<link type="text/css" rel="stylesheet" href="../css/railscasts.css"  media="screen,projection"/>
<link type="text/css" rel="stylesheet" href="../css/materialize.css"  media="screen,projection"/>
<link type="text/css" rel="stylesheet" href="encrypt_css/encrypt.css" media="screen,projection"/>
<link rel="shortcut icon" href="../images/favicon.ico">
<!-- Add background image -->

<style>
body {
  background-image: url("../images/encrypt.png");
  height: 100%;
  background-size: cover;
}
</style>

<html>
	<head>
		<title>Caesar Shift Sandbox</title>
	</head>
	<body>
    <div class="row">
      <div class="col s6 offset-s1">
  		  <h1>Caesar Shift Sandbox</h1>
      </div>
    </div>

    <div class="row">
      <div class="col s3 offset-s1">
        <a id="instruction_button" class="waves-effect waves-green btn navy" onclick="modify_instructions()">Hide Instructions</a>
      </div>
    </div>

    <!-- Add some extra rows to separate title from fields -->
    <br/>
    <div class='square-box' id='square-box'>
      <div class='square-content'><div>
        <span id="black-box-parent">
          <h4 id="black_box_text">Caesar Shift Mechanism</h4>
        </span></div>
      </div>
    <!-- Buttons within Black Box container -->
      <div class="center-btn" id="button-container">
        <a class="waves-effect waves-green btn beige black-text tooltipped" id="encrypt" data-tooltip="Encrypt the Plaintext!">Encrypt/Decrypt</a> 
        <a class="waves-effect waves-red btn darkyellow black-text tooltipped" id="show_code" data-tooltip="Show some real computer code that encrypts the plaintext" href="#modal1">Show Code</a>
        <a class="waves-effect waves-red btn deepred black-text tooltipped" id="open_sandbox" data-tooltip="Explore using the Caesar Shift on words you choose!" href="javascript:window.close();" target="_blank">Go Back to the Exercise</a>
      </div>
    </div>

    <!-- Plaintext inputs -->
    <br/>
    <br/>
    <div class="row">
<!--       <div class="col s2 pull-s2 flow-text">
        <p class="flow-text tooltipped" data-tooltip="This is the text we want to encrypt!">Plaintext:</p>
      </div> -->
      <div class="input-field col s3 pull-s2 tooltipped" data-tooltip="This is the text we want to shift through the Caesar Shift Mechanism">             
        <input placeholder="I came, I saw, I conquered" value="I came, I saw, I conquered" id="plaintext_value" type="text" class="validate">
        <label for="plaintext_value">Starting Text</label>
      </div>
      <!-- TODO replace -->
      <br />
      <br/>
      <br/>
      <br/>
      <br/>     
      <br/>
      <br/>

      <!-- Shift Value inputs -->

      <div class="col s1 pull-s2 flow-text">
        <p class="flow-text tooltipped" data-position="bottom" data-delay="50" data-tooltip="This is how much we want to shift by (negative means to the left, and positive means to the right!)">Shift</p>
      </div>

      <!-- Spinner -->

      <div class="input-field col s2 pull-s2 flow-text">
        <canvas id="canvas" width="100" height="250"></canvas>
      </div>

      <div class="col s1 pull-s3">
        <a class="waves-effect waves-green btn" style="visibility:hidden">Up</a>
        <a class="waves-effect waves-green btn" style="visibility:hidden">Up</a>
        <a class="waves-effect waves-green btn navy white-text" id="spinUp">Up</a>
        <a class="waves-effect waves-green btn deepred white-text" id="spinDown">Down</a>
      </div>

      <!-- Output fields -->

<!--       <div class="col s2 push-s1 flow-text">
        <p class="flow-text tooltipped" data-position="bottom" data-delay="50" data-tooltip="Our encoded text! This will appear once we encrypt the plaintext.">Ciphertext:</p>
      </div> -->

      <div class="input-field col s3 push-s1 flow-text tooltipped" data-tooltip="This is the shifted starting text using the shift value passed">
        <input disabled placeholder="J dbnf, J tbx, J dporvfsfe" value="J dbnf, J tbx, J dporvfsfe" id="output_text" type="text" class="tooltipped">
        <label for="output_text">Final Text</label>
        <a class="waves-effect waves-green btn beige black-text" id="clipboard">Copy to Clipboard</a>
      </div>

    </div>

    <!-- Instructions -->
    <div id="instruction_set">
      <div class="row container">
          <h3>Instructions:</h3>        
      </div>

      <div class="row container">
          <p class="flow-text">
            Play around! Try different values for the starting and ending text and run them through the Caesar Shift mechanism.
          </p>
      </div>
    </div>

<!-- MODALS -->

    <div id="modal1" class="modal">
      <div class="modal-content">
        <h4>Encryption Code</h4>
        <p class="tooltipped" data-tooltip="Python is a computer programming language (like Java or C, which you may have heard of">Here is some Python computer code that performs the Caesar Shift given some plaintext and a shifting value:</p>

        <!-- Python shift code -->

        <pre><code id="shift_code">
        </code></pre>

      <!-- Toggle scrollover modals -->

      <div class="switch">
        Scrollover Hints: 
        <label>
          Off
          <input type="checkbox" checked="On" onclick="enable_tooltips = !enable_tooltips" class="deepred">
          <span class="lever"></span>
          On
        </label>
      </div>

      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-action modal-close btn deepred">Close</a>
      </div>
    </div>

<!-- Modal for explaining iteration -->

    <div id="modalForLoop" class="modal bottom-sheet">
      <div class="modal-content">
        <h4>For Loops</h4>
        <pre><code>
  for eachletter in plaintext:
    #Do something
        </code></pre>
        <p>A for loop instructs the computer to do something repeatedly. In this case, we are going to be performing the letter shifting operation for each letter in the plaintext.</p>
      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
      </div>
    </div>

<!-- Modal for explaining ASCII -->

    <div id="modalOrdChr" class="modal bottom-sheet">
      <div class="modal-content">
        <h4>Ord and Chr</h4>
        <pre><code>
encoded_letter = ord(c) + shift_value
...
ciphertext = ciphertext + (chr(encoded_letter))
        </code></pre>
        <p><code>ord</code> and <code>chr</code> are two special Python functions. In computers, letters are represented by numbers, ofthen referred to as their ASCII number. By converting a letter to its ASCII number, we can add the shift value to its ASCII number to get the number representing our ciphertext letter. <code>ord</code> converts a letter into its ASCII number and <code>chr</code> converts a ASCII number into a letter.</p>
      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
      </div>
    </div>

<!-- Modal for displaying sandbox intro -->

    <div id="modal_sandbox" class="modal">
      <div class="modal-content">
        <h4>Caesar Shift Sandbox!</h4>
        <p>Welcome to the Caesar Shift Sandbox! This page allows you to test out different starting text and shift values, and watch them run through the Caesar Shift algorithm! Just close this tab to return to your exercise.</p>
      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Close</a>
      </div>
    </div>

    <!-- Importing Javascripts -->

    <script src="../js/highlight.pack.js"></script>
    <!-- Initialize code syntax highlighting -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="sandbox_js/sandbox.js"></script>
    <script type="text/javascript" src="../js/materialize.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
	</body>
</html>