<!-- 
Jordan Stapinski 
Enigma Teaching Unit
Caesar-Shift#Encrypt Page
-->

<!doctype HTML>
<link type="text/css" rel="stylesheet" href="../css/railscasts.css"  
                                                    media="screen,projection"/>
<link type="text/css" rel="stylesheet" href="../css/materialize.css"  
                                                    media="screen,projection"/>
<link type="text/css" rel="stylesheet" href="encrypt_css/encrypt.css" 
                                                    media="screen,projection"/>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
                                                              rel="stylesheet">
<link rel="shortcut icon" href="../images/favicon.ico">

<style>
body {
  background-color: rgba(40, 40, 20, 0.2);  
  height: 100%;
  background-size: cover;
}
</style>

<html>

	<head>
		<title>Encryption Exercise</title>
	</head>

  <nav>
    <div class="nav-wrapper">
      <a 
        href="#" 
        class="brand-logo right" 
        style="padding-right:50px">
        Enigma: An Introduction to Cryptography
      </a>

      <div class="col s12 pull-s1">
        <a 
          href="#!" 
          class="breadcrumb" 
          style="padding-left:50px">
          Caesar Shift
        </a>
      </div>

    </div>
  </nav>

	<body>

    <div class="row">
      <div class="col s6 offset-s1">
  		  <h3>Caesar Shift Encryption</h3>
      </div>
    </div>

<!-- Instructions -->
    <div id="instruction_set">
      <div class="row">
          <h4 class="col offset-s1">Instructions:</h4>        
          <p class="flow-text col s11 offset-s1" id="instruction_text">
          </p>
      </div>
    </div>

    <div class="row">
      <div class="col s2 offset-s1">
        <a 
          id="instruction_button" 
          class="waves-effect waves-green btn navy" 
          onclick="modify_instructions()">
          Hide Instructions
        </a>
      </div>
    </div>

    <br/>

    <div class='square-box' id='square-box'>
      <div class='square-content'><div>
        <span id="black-box-parent">
          <h4 id="black_box_text">Encryption Mechanism</h4>
        </span>
      </div></div>

<!-- Buttons within Black Box container -->
      <div class="center-btn" id="button-container">
        <a 
          class="waves-effect waves-green btn beige black-text tooltipped" 
          id="encrypt" 
          data-tooltip="Encrypt the Plaintext!">
          Encrypt
        </a>
        <a 
          class="waves-effect waves-red btn darkyellow black-text tooltipped" 
          id="show_code" 
          data-tooltip="Show some real computer code that encrypts the plaintext" 
          href="#modal1">
          Show Code
        </a>
        <a 
          class="waves-effect waves-red btn darkyellow black-text tooltipped" 
          id="open_sandbox" 
          data-tooltip="Explore using the Caesar Shift on words you choose!" 
          href="/caesar-shift/sandbox" 
          target="_blank">
          Play with Caesar Shift
        </a>
      </div>
    </div>

<!-- Plaintext inputs -->
    <br/>
    <br/>

    <div class="row">
      <div class="input-field col s3 pull-s2">             
        <input 
          placeholder="I came, I saw, I conquered" 
          value="I came, I saw, I conquered" 
          id="plaintext_value" 
          type="text" 
          class="validate">
        <label for="plaintext_value">
          Plaintext
        </label>
      </div>

      <!-- TODO replace -->
      <br />
      <br/>
      <br/>
      <br/>

<!-- Shift Value inputs -->

      <div class="col s1 pull-s2 flow-text">
        <label 
          class="flow-text tooltipped" 
          data-position="bottom" 
          data-delay="50" 
          data-tooltip="This is how much we want to shift by (negative means 
          to the left, and positive means to the right!)">
          Shift <i class="tiny material-icons">info_outline</i>
        </label>
      </div>

<!-- Spinner -->

      <div class="input-field col s2 pull-s2 flow-text">
        <canvas id="canvas" width="100" height="250"></canvas>
      </div>

      <div class="col s1 pull-s3">
        <!-- <a class="waves-effect waves-green btn" style="visibility:hidden">Up</a>
        <a class="waves-effect waves-green btn" style="visibility:hidden">Up</a> -->
        <a 
          class="waves-effect waves-green btn navy white-text" 
          id="spinUp"
          style="width: 100% !important;
                 margin-top: 100px !important;">
          Up
        </a>
        <a 
          class="waves-effect waves-green btn deepred white-text" 
          id="spinDown"
          style="width: 100% !important;">
          Down
        </a>
      </div>

<!-- Output fields -->

      <div class="input-field col s3 push-s1 flow-text">
        <input 
          disabled 
          placeholder="J dbnf, J tbx, J dporvfsfe" 
          value="J dbnf, J tbx, J dporvfsfe" 
          id="output_text" 
          type="text" 
          class="tooltipped" 
          data-tooltip="This is the encrypted plaintext using the shift value 
            passed">
        <label for="output_text">
          Ciphertext
        </label>
        <a 
          class="waves-effect waves-green btn beige black-text" 
          id="clipboard">
          Copy to Clipboard
        </a>
      </div>

    </div>

<!-- MODALS -->

    <div id="modal1" class="modal">
      <div class="modal-content">
        <h4>Encryption Code</h4>
        <p 
          class="tooltipped" 
          data-tooltip="Python is a computer programming language (like Java 
            or C, which you may have heard of">
          Here is some Python computer code that performs the Caesar Shift 
          given some plaintext and a shifting value:</p>

        <!-- Python shift code (filled in automatically) -->

        <pre><code id="encryption_code">
        </code></pre>

      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-action modal-close btn deepred">Close</a>
      </div>
    </div>

<!-- Modal for explaining iteration -->

    <div id="modalForLoop" class="modal bottom-sheet">
      <div class="modal-content">
        <h4>For Loops</h4>
        <pre>
          <code>
  for eachletter in plaintext:
    #Do something
          </code>
        </pre>
        <p>
          A for loop instructs the computer to do something repeatedly. In 
          this case, we are going to be performing the letter shifting operation
          for each letter in the plaintext. In this example, we are encrypting 
          the text one letter at a time by using the for loop statement, 
          looping through each letter in the starting message.
        </p>
      </div>

      <div class="modal-footer">
        <a 
          href="#!" 
          class="modal-action modal-close waves-effect waves-green btn-flat">
          Close
        </a>
      </div>
    </div>

<!-- Modal for explaining ASCII -->

    <div id="modalOrdChr" class="modal bottom-sheet">
      <div class="modal-content">
        <h4>Ord and Chr</h4>
        <pre>
          <code>
encoded_letter = ord(c) + shift_value
...
ciphertext = ciphertext + (chr(encoded_letter))
          </code>
        </pre>
        <p>
          <code>ord</code> and <code>chr</code> are two special Python 
          functions. In computers, letters are represented by numbers, 
          often referred to as their ASCII number. By converting a letter to 
          its ASCII number, we can add the shift value to its ASCII number to 
          get the number representing our ciphertext letter. <code>ord</code> 
          converts a letter into its ASCII number and <code>chr</code> converts 
          a ASCII number into a letter.
        </p>
      </div>

      <div class="modal-footer">
        <a 
          href="#!" 
          class="modal-action modal-close waves-effect waves-green btn-flat">
          Close
        </a>
      </div>
    </div>

<!-- Modal for explaining shifting a letter by a value -->

    <div id="modalShiftVal" class="modal bottom-sheet">
      <div class="modal-content">
        <h4>shift_by_value_in_alphabet</h4>
        <pre>
          <code>
def shift_by_value_in_alphabet(starting_letter, shift_value):
  return chr(ord(starting_letter) + shift_value)
          </code>
        </pre>
        <p>
          This function takes in a letter and an amount to shift by, and 
          returns the letter computed by shifting the starting letter by the 
          <code>shift_value</code> in the alphabet. Note that <code>ord</code>
          turns a letter into its numeric representation in the computer, and
          <code>chr</code> converts a number into its corresponding letter. This
          numeric system for representing letters is known as the ASCII
          convention.
        </p>
      </div>

      <div class="modal-footer">
        <a 
          href="#!" 
          class="modal-action modal-close waves-effect waves-green btn-flat">
          Close
        </a>
      </div>
    </div>

<!-- Modal for explaining the concept of wrapping around the alphabet back
      to 'a' -->

    <div id="modalWrapA" class="modal bottom-sheet">
      <div class="modal-content">
        <h4>wrap_around_a</h4>
        <pre>
          <code>
def wrap_around_a(letter):
  return chr(ord('a') + (ord(letter) - ord('z')) - 1)
          </code>
        </pre>
        <p>
          If the result of the shift on our input letter goes past 'z', we need
          to wrap around the alphabet starting back at 'a'.
        </p>
      </div>

      <div class="modal-footer">
        <a 
          href="#!" 
          class="modal-action modal-close waves-effect waves-green btn-flat">
          Close
        </a>
      </div>
    </div>

<!-- Modal for explaining the concept of wrapping around the alphabet back
      to 'z' -->

    <div id="modalWrapZ" class="modal bottom-sheet">
      <div class="modal-content">
        <h4>wrap_around_z</h4>
        <pre>
          <code>
def wrap_around_z(letter):
  return chr(ord('z') - (ord('a') - ord(letter)) + 1)
          </code>
        </pre>
        <p>
          If the result of the shift on our input letter goes past 'a', we need
          to wrap around the alphabet starting back at 'z' and moving in the
          negative direction through the alphabet.
        </p>
      </div>

      <div class="modal-footer">
        <a 
          href="#!" 
          class="modal-action modal-close waves-effect waves-green btn-flat">
          Close
        </a>
      </div>
    </div>

<!-- Modal for explaining the concept of strings and concatenation -->    

    <div id="modalStrConcat" class="modal bottom-sheet">
      <div class="modal-content">
        <h4>String Concatenation</h4>
        <pre>
          <code>
ciphertext = ciphertext + encoded_letter
          </code>
        </pre>
        <p>
          In computers, words (like your plaintext or ciphertext message) are 
          referred to as strings. This is just some vocabulary about how 
          computers work with literal words. In the Python programming language, 
          when we want to combine two words (perhaps we want to combine "Alan" 
          and "Turing" to get "AlanTuring"), <strong>we represent this as 
          "adding" the two strings</strong>, seen here! This line of code 
          combines the ciphertext we already created with the new letter we 
          just encrypted.
        </p>
      </div>

      <div class="modal-footer">
        <a 
          href="#!" 
          class="modal-action modal-close waves-effect waves-green btn-flat">
          Close
        </a>
      </div>
    </div>

<!-- Modal for displaying positive feedback -->

    <div id="modalSuccess" class="modal bottom-sheet">
      <div class="modal-content">
        <h4>Correct!</h4>
        <p>
          Notice how the encryption code mechanism cycled through the alphabet 
          at each letter the number of times as we indicated in our shift. Now 
          we have some ciphertext to communicate our orders! Now let's try to 
          decrypt some ciphertext using a similar mechanism.
        </p>
      </div>

      <div class="modal-footer">
        <a 
          href="/caesar-shift/decrypt" 
          class="modal-action modal-close waves-effect waves-green btn navy">
          Continue
        </a>
      </div>
    </div>

<!-- Modal for displaying positive feedback -->

    <div id="modalRetry" class="modal bottom-sheet">
      <div class="modal-content">
        <h4>Hmm, not quite</h4>
        <p>
          It seems like something was encrypted, but not exactly the message 
          and shift amount we were going for. Are you sure your plaintext value 
          is <strong>move north</strong> and your encryption shift is <strong>
          up (positive) 3</strong>?
        </p>
      </div>

      <div class="modal-footer">
        <a 
          href="#!" 
          class="modal-action modal-close waves-effect waves-green btn deepred">
          Try Again
        </a>
      </div>
    </div>

    <div id="modal_encrypt" class="modal">
      <div class="modal-content">
        <h4>Caesar Shift Encryption</h4>
        <p>
          One method of encrypting a message is through a <strong>Caesar 
          Shift</strong>, in which we specify a number and direction which we 
          move in the alphabet for each letter in our original text to get our 
          encrypted text. Try the encryption example here, and feel free to 
          click on the "Play with Caesar Shift" button to insert your own text 
          and shift values to see the Caesar Shift in action!
        </p>
      </div>

      <div class="modal-footer">
        <a 
          href="#!" 
          class="modal-action modal-close waves-effect waves-green btn navy">
          Go!
        </a>
      </div>
    </div>

    <!-- Importing Javascripts -->

    <script src="../js/highlight.pack.js"></script>
    <!-- Initialize code syntax highlighting -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="encrypt_js/encrypt.js"></script>
    <script type="text/javascript" src="../js/materialize.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
	</body>
</html>