<!doctype html>
<link type="text/css" rel="stylesheet" href="../css/railscasts.css"  media="screen,projection"/>
<link type="text/css" rel="stylesheet" href="../css/materialize.css"  media="screen,projection"/>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<link rel="shortcut icon" href="../images/favicon.ico">

<style>
body {
  background-color: rgba(70, 70, 40, 0.2);
  height: 100%;
  background-size: cover;
}

.nav-wrapper {
  background-color: #3F5666 !important;
}

p {
  font-size: 1.25rem !important;
}
</style>

<html>
  <head>
    <title>The End!</title>
  </head>
  <nav>
    <div class="nav-wrapper">
      <a 
        href="#" 
        class="brand-logo right" 
        style="padding-right:50px">
        Enigma: An Introduction to Cryptography
      </a>
      <div class="col s12 pull-s1">
        <a 
          href="/caesar-shift/encrypt" 
          class="breadcrumb"
          target = "_blank" 
          style="padding-left:50px">
          Caesar Shift
        </a>
        <a 
          href="/password/sandbox" 
          class="breadcrumb"
          target = "_blank">Vigenere Cipher</a>
        <a 
          href="/enigma/sandbox" 
          class="breadcrumb"
          target = "_blank">Enigma Machine</a>
        <a 
          href="#!" 
          class="breadcrumb"
          target = "_blank">End</a>
      </div>
    </div>
  </nav>
  <body>
    <div class="container">
      <h3>The End</h3>
      <p>
        If you wish to try any of the encryption algorithms in Sandbox mode, click on them above!
      </p>
    </div>
  </body>

  <script src="../js/highlight.pack.js"></script>
  <!-- Initialize code syntax highlighting -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="../js/materialize.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>

</html>