<!-- Jordan Stapinski
   Enigma Unit - Password Encryption HTML
-->

<!doctype html>
<link type="text/css" rel="stylesheet" href="../css/railscasts.css"  media="screen,projection"/>
<link type="text/css" rel="stylesheet" href="../css/materialize.css"  media="screen,projection"/>
<link type="text/css" rel="stylesheet" href="password-encrypt.css" media="screen,projection"/>
<link rel="shortcut icon" href="../images/favicon.ico">

<html>
  <head>
    <title>Password Encryption Exercise</title>
  </head>
  <body>

    <div class="row">
      <div class="col s10 offset-s1">
        <h1>Password Shift Encryption</h1>
      </div>
    </div>

  <div class='square-box' id='square-box'>
      <div class='square-content'><div>
        <span id="black-box-parent">
          <h4 id="black_box_text">Encryption Mechanism</h4>
        </span></div>
      </div>
    <!-- Buttons within Black Box container -->
      <div class="center-btn" id="button-container">
        <a class="waves-effect waves-green btn beige black-text tooltipped" id="encrypt" data-tooltip="Encrypt the Plaintext!">Encrypt</a> 
        <a class="waves-effect waves-red btn darkyellow black-text tooltipped" id="show_code" data-tooltip="Show some real computer code that encrypts the plaintext" href="#modal1">Show Code</a>
      <!-- <div class="col s2 push-s5"> -->
        <a class="waves-effect waves-red btn darkyellow black-text tooltipped" id="open_sandbox" data-tooltip="Explore using the Caesar Shift on words you choose!" href="/caesar-shift/sandbox" target="_blank">Play with Caesar Shift</a>
      <!-- </div> -->
      </div>
  </div>

      <div class="row">

      <div class="input-field col s3 pull-s2">             
        <input placeholder="I came, I saw, I conquered" value="I came, I saw, I conquered" id="plaintext_value" type="text" class="validate">
        <label for="plaintext_value">Plaintext</label>
      </div>

      <div class="input-field col s3 push-s2">             
        <p id="word_shift_text" class="flow-text tooltipped" data-position="bottom" data-delay="50" data-tooltip="This is how much we want to shift by (negative means to the left, and positive means to the right!)" hidden>Word Shift</p>
      </div>
      <br />
      <br/>
      <br/>
      <br/>
      <br/>

      <div class="input-field col s3 pull-s2">             
        <input placeholder="password" value="password" id="password_value" type="text" class="validate">
        <label for="password_value">Password</label>
      </div>

            <div class="input-field col s3 push-s2 flow-text">
        <canvas id="canvas" width="300" height="100"></canvas>
      </div>

      <br />
      <br/>
      <br/>
      <br/>
      <br/>
      <br/>

      <div class="col s2 pull-s2 flow-text">
        <p class="flow-text tooltipped" data-position="bottom" data-delay="50" data-tooltip="This is how much we want to shift by (negative means to the left, and positive means to the right!)">Word Index</p>
      </div>

      <br/>
      <br/>
      <br/>
      <br/>

      <!-- Word Index Wheel -->

      <div class="input-field col s3 pull-s2 flow-text">
        <canvas id="canvas" width="200" height="250"></canvas>
      </div>

            <div class="col s1 pull-s3">
        <a class="waves-effect waves-green btn" style="visibility:hidden">Up</a>
        <a class="waves-effect waves-green btn" style="visibility:hidden">Up</a>
        <a class="waves-effect waves-green btn navy white-text" id="spinUp">Up</a>
        <a class="waves-effect waves-green btn deepred white-text" id="spinDown">Down</a>
      </div>

      <!-- Output fields -->

      <div class="input-field col s3 push-s1 flow-text">
        <input disabled placeholder="J dbnf, J tbx, J dporvfsfe" value="J dbnf, J tbx, J dporvfsfe" id="output_text" type="text" class="tooltipped" data-tooltip="This is the encrypted plaintext using the shift value passed">
        <label for="output_text">Ciphertext</label>
        <a class="waves-effect waves-green btn beige black-text" id="clipboard">Copy to Clipboard</a>
      </div>

    </div>

    <div id="modal_encrypt" class="modal">
      <div class="modal-content">
        <h4>Password Shift Encryption</h4>
        <p>...</p>
      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-action modal-close waves-effect waves-green btn navy">Go!</a>
      </div>
    </div>
  </body>

  <script src="../js/highlight.pack.js"></script>
  <!-- Initialize code syntax highlighting -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="password-encrypt.js"></script>
  <script type="text/javascript" src="../js/materialize.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
</html>