<!doctype HTML>
<link type="text/css" rel="stylesheet" href="css/materialize.css"  media="screen,projection"/>
<html>
	<head>
		<title>Enigma Unit</title>
	</head>
	<body>

	  <div class="parallax-container">
	    <div class="parallax"><img src="images/code.jpg" style="opacity:0.8"></div>
	  </div>
	  <div class="section black">
	    <div class="row container">
	      <h1 class="beige-text">{{unit_name}}</h1>
	      <p class="grey-text lighten-3">Get a chance to experiment in creating and breaking cryptographic code</p>
	      <a class="waves-effect waves-green btn navy" href="/caesar-shift/encrypt">Go!</a> <a class="waves-effect waves-red btn deepred" href="#modal1">About</a>
	    </div>
	  </div>
	  <div class="parallax-container">
	    <div class="parallax"><img src="images/code.jpg" style="opacity:0.8"></div>
	  </div>

	  <div id="modal1" class="modal">
      <div class="modal-content">
        <h4>About this Unit</h4>
        <p>This is a unit in teaching about the use of cryptography (or, in other words, the practice of encoding and decoding messages) with a context of World War II. This unit features interactive exercises to help solidify some of the basics of encryption and decryption.</p>
    	</div>
    </div>

		<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	  <script type="text/javascript" src="js/materialize.js"></script>
	</body>
</html>