<!doctype HTML>
<link type="text/css" rel="stylesheet" href="css/materialize.css"  media="screen,projection"/>
<html>
	<head>
		<title>Enigma Unit</title>
	</head>
	<body>

  <div class="parallax-container">
    <div class="parallax"><img src="images/code.jpg"></div>
  </div>
  <div class="section black">
    <div class="row container">
      <h1 class="beige-text">{{unit_name}}</h1>
      <p class="grey-text lighten-3">Get a chance to experiment in creating and breaking cryptographic code</p>
      <a class="waves-effect waves-red btn deepred">Go!</a>
    </div>
  </div>
  <div class="parallax-container">
    <div class="parallax"><img src="images/code.jpg"></div>
  </div>


	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="js/materialize.js"></script>
	</body>
<footer>
  <p>Jordan Stapinski</p>
  <p>2017</p>
</footer>
</html>