.center-btn {
  margin-top: 10%;
  margin-bottom: 10%; 
  text-align: center; 
}

::-webkit-input-placeholder {
  font-size: 20px;
  color: #000000; 
}

input[type=text] {
  font-size: 20px;
  color: #000000; 
}

input[type=text][disabled] {
  font-size: 20px;
  color: #000000; 
}

a { color: inherit; }

h6, label {
  color: #000000 !important;
  font-size:1.68rem !important;
  font-family:'Roboto' sans-serif; 
  font-weight:300;
}

.switch_labels {
  font-size: 20px !important;
  float: auto;
  color: #FFFFFF;
}

#encrypt {
    position: relative;
    margin-top: -10%;
}

#show_code {
  position: relative;
  margin-top: -10%;
}

.square-box{
  float: left;
  left: 40%;
  border-radius: 20px;
  position: relative;
  width: 25%;
  overflow: hidden;
  background: #3F5666;
}
.square-box:before{
    content: "";
    display: block;
    padding-top: 60%;
}
.square-content{
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: white;
}
.square-content div {
   display: table;
   width: 100%;
   height: 100%;
}
.square-content span {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    color: white
}